*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.wrapper {
    width: 100%;
}

.ul1 {
    padding: 1em;
}

img:hover {
    opacity: 0.5;
}

.myImage {
    float: left;
    height: 150px;
    width: 250px;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    font-family: Verdana;
}

.box1 {
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.4);
}

.box2 {
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.1);
}

.box3 {
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.1);
}

.box4 {
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.1);
}

.box5 {
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.1);
}



/* nav bar */

.nav{
    width: 100%;
    height: 50px;
    background: black;
    opacity: 0.9;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    border-radius: 10px;
}

.logo{
	width: 30%;
	padding-top: 1em;
	font-weight: bold;
    color: darkgray;
}

.box7 {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    border-radius: 30px;
}

.title{
	color:white;
	text-align: center;
	padding-bottom: 0.5em;
}

p{
    display: flex;
    justify-content: left;
    padding: 0.5em;
    font-size: 1.1em;
}

/* links */
a {
    font-size: 1.1em;
}

a:visited {
    color: violet;
}

a:active {
    color: blue;
}

a:hover {
    color: red;
}

/* CP-Topics */

.cp-topics{
	width: 100%;
    height: 700px;
	justify-content: center;
	padding: 1em;
	margin: 1em;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.1);
}
.item-tile{
	margin: 0.8em;
	float: left;
	box-shadow: 1px 1px 5px 1px grey;
    border-radius: 30px;
	box-sizing: border-box;
    
}

.item-img{
	width: 100%;
	height: 300px;
	object-fit: cover;
    border-radius: 30px;
    overflow: hidden;
}

.item-text {
	width: 100%;
	height: 30px;
	margin-top: -30px;
	padding: 0.5em 0.5em 0 0.5em;
	text-align: center;
	color: #fff;
	background: black;
	opacity: 0.8;
    border-radius: 30px;
}

@media (max-width: 768){
	.item-tile{
		width: 100%;
	}
}

@media screen and (min-width: 769px){
	.item-tile{
		width: 30%;
	}
}